/node_modules
/public/hot
/public/storage
/public/images/orders
/public/images/halls
/storage/*.key
/vendor
/Assets
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/logos
